* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#workspaces,
#clock,
#backlight {
  /* background: #1e1e2e; */
  background: #0f1429;
  opacity: 0.7;
  padding: 0px 10px;
  /* margin: 3px 0px; */
  margin: 0px 0px;
  margin-top: 10px;
  border: 1px solid #181825;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#clock {
  color: #fab387;
  border-radius: 10px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#network {
  color: #f9e2af;
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#cpu {
  color: #f9e2af;
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
  margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
}

#memory {
  color: #a6e3a1;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#battery {
  color: #a6e3a1;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}
#battery.warning {
  color: #ffa500;
}
#battery.critical {
  color: #f00;
}
