[[language]]
name = "nix"
auto-format = true
formatter = { command = "nixfmt" }

[[language]]
name = "php"
language-servers = ["phpactor"]
auto-format = true
formatter = { command = "pretty-php" }

[language-server.phpactor]
command = "phpactor"
args = ["language-server"]
